<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGIT SARANG Notice Generator</title>
    <script src=
    "https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js">
    </script>


     <script src="/config.js"></script>
     <link href="/styles2.css"  rel="stylesheet" type="text/css">   
     <style>
        .text2{
            font-size: 20px;
        }
     </style>  
</head>

<body>
    <div id="a4-container">
        <div id="a41-container" >
            <div class="header">
                <div class="left">
                    <img src="/igit logo.png" alt="igitlogo" id="igit-logo">
                </div>
                <div class="middle">
                    <span class="firsthead">
                        <p > <b id="cdc-igit">CAREER DEVELOPMENT CENTRE</b></p>
                        <p ><b id="cdc-igit">INDIRA GANDHI INSTITUTE OF TECHNOLOGY , SARANG</b></p>
                    </span>
                </div>
                <div class="right">
                    <img src="/42 yrs.png" alt="42 years" id="logo">
                </div>
            </div>
    
            <div class="notice_container">
                <p class="notice_number">IGIT/CDC-01/</p>
                <p class="notice_date">Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
            <hr>
            <h4 class="company_name1" style="font-size: 25px;">NOTICE</h4>

            <b><p style="font-size: 30px; text-align:justify;"><%=notice.Company%> Recruitment Drive <%=notice.YOP%> || <%= notice.Streams %>(<%=notice.Branch%>) || <%=notice.YOP%> passout || IGIT , Sarang || <%=notice.drive_date%></p></b>
            <!-- <br> -->
            <!-- <b>Notice</b> -->

            <span class="notice">
                <p class="notice text2" style="font-size: 20px;"><%= notice.Notice %></p>
            </span>


            <div class="signature text2">
                <p class="text2">Professor-in-charge, CDC</p>        
            </div>
            
            CC:
            <ol style="font-family: 'Times New Roman', Times, serif;" class="text2">
                <li>PA to Director for kind information of Director.</li>
                <li>HOD (<%=notice.Branch%>) for information & necessary circulation in the Notice board.</li>
                <li>CDC Coordinator (<%=notice.Branch%>) for necessary information. </li>
                <li>Deputy registrar for necessary information. </li>
                <% for (let x of notice.cc) { %>
                    <li><%= x %></li>
                  <% } %>
                  
            </ol>

        </div>
        </div>
    </div>

    <div class="end">
    <button id="download" class="btns">Generate PDF</a></button>
    
    <button class="btns"><a href="/notices/<%= notice._id%>/edit2"  class="abtns">Edit</a></button>

    <button class="btns"><a href="/notices/" class="abtns">All Notices</a></button>

    <button class="btns"><a href="/notices/new" class="abtns">New Notice</a></button>
    </div>


</div>


 <!-- FOR PDF -->
    
    <script>
        let button = document.getElementById("download");
        let noticeContainer = document.getElementById("a4-container");
      
        button.addEventListener("click", function () {
          html2pdf()
            .from(noticeContainer)
            .set({
              filename: '<%= notice.Company %>.pdf',
              imageType: "png", // Use JPEG format for images,
              html2canvas: { scale: 3, ignoreElements: 'sideicon'},
              jsPDF : {unit: 'mm'}
            })
            .save();
        });
      </script>
</body>
</html>